/*Content Prime*/
.content_prime{
	border-radius: 0;
	margin-left: 0;
	padding: 10px;
}
.content_prime .container_content{
	border-radius: 12px;
	background: none;
	margin-bottom: 20px;
}
.container_content > .row{
	border-radius: inherit;
	margin-bottom: 20px;
	background: #fff;
}
.container_content .row_profile,
.container_content .row_info
{
	padding: 20px;
}
.row_profile{
	position: relative;
}
.btn_edit_profile{
	position: absolute;
	top: 20px;
	right: 20px;
}
.content_prime .header_content * :not(.header_content i){
	font-family: pacific !important;
	font-size: 40px;
}
/*Profile*/
.profile_img{
	width: 150px;
	height: 150px;
}
.profile_img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.text_title{
	font-weight: bolder;
}
.text_info{
	color: grey;
	margin-top: 15px;
}
.row_info .card{
	border: none;
}
.row_info .row_card_info{
	margin-top: 20px;
}
.row_card_info .col_card_info{
	padding: 0 !important;
}
.col_card_info .text_info{
	margin-top: 5px !important;
}
.col_card_info .card-body{
	padding: 0;
}

@media( max-width:  769px){
	.profile_img{
		margin-bottom: 0 !important;
	}
	.row_profile{
		justify-content: center;
		text-align: center;
	}

	/*Dashboard responsive*/
	.container_detail{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999999999;
		padding: 20px;
		background: #fff;
		display: none;
	}
	.container_detail .btn_corner{
		font-size: 20px;
		display: block;
	}
}














