/*Tambah Project User*/
.container_tambah_project{
	width: 100%;
	height: auto;
	background: #fff;
	position: relative;
	padding: 20px;
	/*overflow: auto;*/
}
.container_tambah_project .loader_page{
	position: absolute;
	background: #fff;
}
.header_content_form{
	padding: 0;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 30px;
}
.body_content_form{
	width: 100%;
	height: 400px;
	overflow: auto;
	/*background: red;*/
}
.body_content_form > div{
	display: none;
}


.content_form{
	display: none;
}
.content_form.active{
	display: block;
}

.content_form#form_input{

}
#form_input .row_form{

}
.content_form#form_rekom_teknisi{

}
#form_rekom_teknisi .row_teknisi{
	padding: 20px;
}
.col_teknisi{
	padding: 10px;
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.col_teknisi.active{
	border: 2px solid darkcyan;
}
.col_teknisi .teknisi_img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: relative;
}
.teknisi_img img{
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.col_teknisi .teknisi_info{
	flex: 1;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.teknisi_info p{
	margin-bottom: 0;
}
.btn_pilih_teknisi{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}