.sidebar{
	background: #000 !important;
}
.sidebar *{
	color: #fff;
}
.table thead th{
	vertical-align: top;
}


/*Animasi Load */
.animasi_loadPage{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 888;/* Agar dia dibawahnya z index dari  */
	margin-top: 70px; /* Menyesuaikan tinggi dari header nav header agar teteap terlihat navnya */
}
.animasi_loadPage .content_load{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 20px;
	padding-top: 100px;
}
.content_load img{
	width: 50px;
	height: 50px;
}
.section_content .animasi_loadPage{
	margin-top: 100px;
}