
.link_ujian .row_menu{
	background: none !important;
	border: 2px solid #ccc;
	margin-right: 0;
}
.col_left{
	display: flex;
}
.col_right{
	height: 100%;
	max-height: 100%;
}
.header_page *{
	font-family: poppin !important;
}
.header_page{
	margin-bottom: 10px;
}
.info_course .title_course{
	padding-top: 10px;
	margin-bottom: 0;
}
.title_course{
	font-size: 25px;
	font-weight: bolder;
	color: darkcyan;
}
.mentor_course{
	color: grey;
}
.menu_logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title_chapter{
	font-size: 40px !important;
}

.card .content{
	width: 100%;
	height: auto;
	/*background: #fff;*/
}
.logo_back{
	top: 0 !important;
	right: 0;
	opacity: .5;
}
.video{
	padding-top: 20px;
}
.video iframe{
	width: 100%;
	height: 500px;
}

@media( max-width : 560px){
	.mentor_course{
		display: none;
	}
}

.link_ujian .row_menu{
	background: gold!important;
	color: #fff;
}
.link_ujian *:not(i){
	font-family: sora;
	font-weight: bolder;
}
.row_menu{
	border: 2px solid #ccc;
}
.row_menu.row_title{
	text-align: center;
	border: none;
}
.row_title *{
	font-family: pacific !important;
	font-size: 30px;
}
.box_deskripsi{
	position: relative;
	overflow: none !important;
}
.link_read{
	position: absolute;
	bottom: -20px;
	right: 0;
	color: red;
	margin-bottom: 0;
	width: auto;
	height: auto;
	background: #fff;
	cursor: pointer;
}



/*Indicator add css*/

.row_box_indicator{

}

.box_dashboard_indicator{
}
.box_dashboard_indicator .box_indicator{
	text-align: center;
	font-size: 20px;
	font-weight: 300;	
	padding-bottom: 20px;
	cursor: pointer;
}
.box_indicator:hover, .box_indicator.active{
	font-weight: bolder;
	border-bottom: 2px solid #000;
}


.row_box_page{

}
.row_box_page .box_dashboard{
	display: none;
}
.row_box_page .box_dashboard.active{
	display: block !important;
}

.box_indicator{
	display: flex;
	justify-content: center;
}
.box_indicator span{
	margin-right: 3px;
}
.box_indicator .icon_responsive{
	display: none;
}
@media(max-width: 620px){
	.box_indicator span{
		display: none;
	}
	.box_indicator .icon_responsive{
		display: block;
	}
	.box_dashboard_indicator{
		margin-bottom: 0!important;
	}

}
@media(max-width: 380px){


	.main_container{
		padding: 0 !important;
	}
	.box_dashboard{
		margin-right: 0!Important;
	}
	.row_box_page .box_dashboard .logo_back{
		display: none;
	} 
	.row_box_page .box_dashboard{
		margin-bottom: 100px;
	}

}


.box_task{
 	background: #ccc;
 	padding: 20px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	margin-top: 10px;
 	position: relative;
}
.box_task img{
	width: 40px;
	height: 40px;
}
.box_task .btn_right{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-right: 20px;
	z-index: 1;
	color: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btn_view_page.btn_right{

}
.box_task h5{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
@media(max-width: 450px){
	.btn_right{
		display: block !important;

	}
}


.container_view_page{
	position: fixed;
	top: 70px;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 10px;
	padding-top: 30px;
	overflow: auto;
	padding-bottom: 100px;
	z-index: 99;
	display: none;
}
.container_view_page.active{
	display: block;
}

.container_view_page .title_page{
	color: grey;
}
.container_view_page .title_data{

}
.container_view_page .desc_data{

}
.btn_close_view{
	width: 100px;
	height: 100px;
	font-size: 30px;
	position: absolute;
	top: -30px;
	right: 10px;
	z-index: 9999;
}
.container_view_page .box_view{
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
}
.container_view_page textarea{
	height: 100px;
}
.container_view_page .header_box_view{
	font-size: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #000;
}
.container_view_page .container_page{
	display: none;
}
.container_page.active{
	display: block;
}
.col_nilai{
	padding-top: 20px;
	color: #fff;
	background: #007bff;
	text-align: center;
}


.col_qr{
	text-align: center;
}